html, body{
    background-color:white;
}

body{
    width:100%;
    height:100%;
}

header{
    margin:0 auto;
    width:100%;
    height:50%;
    background-image:url(http://i.imgur.com/kvP736X.png)
        
}

nav{
    margin: 0 auto;
    width:100%; 
    background-color:deepskyblue;
    font:white;
}
ul{
    list-style-type:none;
    margin:0 auto;
}

li{
    
    display:inline-block;
    text-align:center;
    margin:0 auto;    
    
   }

a{
    display:inline-grid;
    padding:10px; 
    color:white; 
    text-decoration:none;
}

#one{
    padding:10px;
    margin:10px;
    height:180px;
    width:160px;
    float:left;
    text-align:center;
    border-color:transparent;

}
#two{
    padding:90px;
    margin:10px;
    float:left;
}
#si{
    float:left;
}
#three{
    padding:50px;
    margin:20px;
    float:left;
    background-color: aqua;
}
footer{
    padding:10px;
    margin:30px;
    float:left;
}